body {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    font-family: Arial, sans-serif;
    /* margin: 0; */
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-left: 20px;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  main {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .product {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    max-width: 200px;
    text-align: center;  
  }
  
  .product img {
    width: 100%;
  }
  
  .product h2 {
    font-size: 1.2em;
    margin: 10px 0;
  }
  
  .product span {
    font-weight: bold;
    color: #333;
    display: block;
    margin-top: 5px;
  }
  
  .product button {
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
  }
  
  .product button:hover {
    background-color: #555;
  }
  .add-to-cart-button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
  }

  .added {
    background-color: #2ecc71;